@charset "UTF-8";

html{
    background: linear-gradient(rgb(235, 35, 35), rgb(173, 24, 24));
}

/* body styles */
p.price{
    background-color: red;
    width: 25%;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
table, th, td{
    border: 1px green solid;
    text-align: left;
    width: 85%;
}
tr:last-child{
    float: right; 
}
table img{
    width: 60%;
}
table th{
   width: 20%;
   text-align: left;
}

table tr{
    width: 100%;
}
table td{
    width: 25%;
}
h3{
    width: 20.48em;
    background-color: rgb(255, 252, 49);
    font-size: 25px;
    border-top: 1px solid black;
    padding-top: 1em;
    padding-left: .5em;
    padding-bottom: 1em;
}
#spicy{
    width: 1em;
}
table tr{
    border-image: url(../pictures/scroll.png) 30px cover;
    margin-top: .5em;
    background-image: url(../pictures/paper_background.jpg);
}